#Addnew {
    -fx-text-fill: black;
    -fx-font-family: "Jost";
    -fx-font-weight: normal;
    -fx-background-radius: 12px;
    -fx-background-color: white;

}
#Addnew:hover{
    -fx-background-color: #D3D3D3FF;
    -fx-text-fill: black;
}
#Addnew:pressed{
    -fx-background-color: rgb(128, 128, 128);
    -fx-background-radius: 12px;
}

#All{
    -fx-text-fill: white;
    -fx-font-family: "Jost";
    -fx-font-weight: normal;
    -fx-background-radius: 12;
    -fx-background-color: #517FF6;
}
#All:hover{
    -fx-background-color: #3458B2;
}
#All:pressed{
    -fx-background-color: #1F3C85;
}
#Todo{
    -fx-text-fill: black;
    -fx-font-family: "Jost";
    -fx-font-weight: normal;
    -fx-background-radius: 12;
    -fx-background-color: white;
}
#Todo:hover{
    -fx-background-color: #D3D3D3FF;
    -fx-text-fill: black;
}
#Todo:pressed{
    -fx-background-color: rgb(128, 128, 128);
    -fx-background-radius: 12px;
}
#completed{
    -fx-text-fill: black;
    -fx-font-family: "Jost";
    -fx-font-weight: normal;
    -fx-background-radius: 12;
    -fx-background-color: white;
}
#completed:hover{
    -fx-background-color: #D3D3D3FF;
    -fx-text-fill: black;
}
#completed:pressed{
    -fx-background-color: rgb(128, 128, 128);
    -fx-background-radius: 12px;
}
#todolist{
    -fx-text-fill: bold;
    -fx-font-family: "Jost";
    -fx-font-size: 45px;
    -fx-font-weight: bold;
    -fx-fill: white;
}

.root{
    -fx-background-color: linear-gradient(#517FF6, #141454);
}

.grid{
    -fx-background-color: rgba(255, 255, 255, 0.88);
    -fx-background-radius: 20;
}

